<div class='container' style='padding-top:60px'>
  <a class='btn btn-danger' href='/logout'>Logout </a>
  <h2>{{session.user.userName}} + ( + {{session.user.email}} + ) + History</h2>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>Date/Time</th>
        <th scope='col'>User-Agent</th>
      </tr>
    </thead>
    <tbody>
      {{#each session.user.loginHistory}}
        <tr>
          <th scope='row'>{{dateTime}}</th>
          <td>{{userAgent}}</td>
        </tr>
      {{else}}
        <tr>
          <td>NO DATA FOUND</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>